@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url("Oswald-Medium.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url("Oswald-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
